<%= form_for(['trade',@partity]) do |f| %>
<div class="box-body">
  <div class="col-md-5">
    <div class="form-group has-error">
      <label>名称</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-flag"></i>
        </div>
        <%= f.text_field :block, class:'form-control', placeholder:'（必填* 区块链中文简称）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>状态</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-flag"></i>
        </div>
        <%= f.select(:state, [['启用',true],['禁用',false]], {prompt:'请选择状态'},{:class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>差价率</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.text_field :agio_rate, class:'form-control', placeholder:'（必填* 区块差价期望比率）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>差价值</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.text_field :agio_price, class:'form-control', placeholder:'（必填* 区块差价期望值）' %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>