<%= form_for(['trade',@quote]) do |f| %>
<div class="box-body">
  <div class="col-md-5">
    <div class="form-group has-error">
      <label>平台</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-bank"></i>
        </div>
        <%= f.text_field :platform, class:'form-control', placeholder:'（必填* 行情信息来源平台）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>状态</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-flag"></i>
        </div>
        <%= f.select(:state, [['启用',true],['禁用',false]], {prompt:'请选择状态'},{:class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>区块</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.text_field :block, class:'form-control', placeholder:'（必填* 区块链名称）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>来源</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-link"></i>
        </div>
        <%= f.text_field :source, class:'form-control', placeholder:'（必填* 获取资讯来源链接）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>锚点</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-anchor"></i>
        </div>
        <%= f.text_field :anchor, class:'form-control', placeholder:'（必填* 后去价格位置css顺序）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>涨幅</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-arrow-up"></i>
        </div>
        <%= f.text_field :increase, class:'form-control', placeholder:'（必填* 后去价格位置css顺序）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>跌幅</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-arrow-down"></i>
        </div>
        <%= f.text_field :decline, class:'form-control', placeholder:'（必填* 后去价格位置css顺序）' %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>